#!/bin/bash
set -euxo pipefail

dnf update -y
dnf install -y httpd
systemctl enable httpd
systemctl start httpd

cat > /var/www/html/index.html <<HTML
<html>
  <body>
    <h1>${environment} Environment</h1>
  </body>
</html>
HTML
